body{
    margin:0;
    padding:0;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
    font-family: 'Lobster', cursive;
}
p{
    font-size: 18px;
    line-height: 28px;
}
.flex{
    display: flex;
}
.half-width {
    width: 50%;
    
}
/*header*/
header{
    height: 700px;
    color: white;
}
.background{
    background-image: url(images/2.jpg);
    background-size: cover;
}
.header-div1{
    padding : 0 15%;
    height: 100%;
    background: linear-gradient(to right,#121212, #12121200);
}
.header-div2{
    width: 600px;
    height: 100%;
    padding-top: 9%;
}
.header-div2 h1{
    letter-spacing: 8px; 
    font-size: 55px;
}
.color-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 16px 12px;
    background-color: #EF233C;
    margin-top: 10px;
    border-radius: 5px;
    letter-spacing: 2px;
    font-weight: 700;
}

/*main*/
main{
    padding : 0 15%;
}
.section1{
    display:flex;
    height:500px;
    margin-top:10%;
    margin-bottom: 8%;
}
iframe{
    border-radius: 50px;
}
.sec1-div1{
    display:flex;
    justify-content: right;
}
.sec1-article1 p{
    padding-right: 20%;
}
.section2{
    display:flex;
    height:500px;
    margin-bottom: 8%;
}
.sec2-div1{
    position: relative;
}
.image1{
    position: absolute;
    left: 40%;
    top: 40%;
}
.sec2-div1 .image2{
    width: 100%;
    height: 100%;
}
.sec2-article1  {
    padding-left: 5%;
}

.sec3-article1{
    text-align: center;
    margin-bottom: 50px;
}
.sec3-article1 h1 {
    margin: 0;
}
.sec3-article1 div{
    margin-bottom: 20px;
}
.sec3-article1 p{
    margin: 0;
}
.upper-part{
    margin-bottom: 3%;
}
.div-style{
    background-color: #FEF4F5;
    margin: 0 .2% 0 3%;
    padding: 40px;
    border-radius:10px;
}
.inside-div h2{
    margin: 0;
}
.inside-div img{
    padding-right: 20px;
}
